


    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Making Dreams Come True</h1>
                <h2>Helping People is our Motivation</h2>
            </div>
        </div>
    </header>


    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            
            <img class="featurette-image img-circle img-responsive pull-right" src="https://www.hrh2030program.org/wp-content/uploads/2016/09/Objective-1.png">
            <h2 class="featurette-heading">Who We Are:
                <span class="text-muted1">Hope, Love and Dream</span>
            </h2>
            <p class="lead">We at Charity Shop believe we are an important tool for building a better future for the needy, bringing love, hope, and transforming the dreams of a better world into reality.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://www.themindfulsouls.com/wp-content/uploads/2016/01/Motion-FM-2012-Fundraising-500X500.jpg">
            <h2 class="featurette-heading">What We Do:
                <span class="text-muted2">Making our Community a Better Place.</span>
            </h2>
            <p class="lead">We bring hope through the love we have in helping those who need it, so with the ideal of making the world a better place, we begin in our community. You are most welcome to join us on this journey.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="https://d1yn1kh78jj1rr.cloudfront.net/preview/original-hand-drawn-word-love-romantic-floral-background-with-love_M1BNpo5O_S.jpg">
            <h2 class="featurette-heading">Love
                <span class="text-muted3">What We Do!</span>
            </h2>
            <p class="lead">We pride ourselves on our work and our principles because we love what we do. Our work has helped many people to have a better future through the commitment of our employees and sponsors. Giving is much more than receiving.</p>
        </div>

    </div>
    <!-- /.container -->

