<a href="http://bootsnipp.com/mouse0270/snippets/4l0k2" class="btn btn-danger hide" id="back-to-bootsnipp">Back to Bootsnipp</a>

<div class="container">
    <div class="rowcontacts">

        <h3>Did you like our job?</h3>
        <h4>Contact us for further information!</h4>
        <hr/>
        <h3>What are you waiting for?</h3>
        
    </div>
    
    <div class="row form-group">
        <h3></h3>
        <hr/>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">Contacts</span>
                   
                </div>
                
                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                
                <ul class="list-group" id="contact-list">
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src=https://avatars0.githubusercontent.com/u/18198074?v=3&s=460" alt="Alex" class="img-responsive img-circle" />
                        </div>
                        
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Alex Santos dos Reis</span><br/>
                            <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="Dublin - Ireland"></span>
                            <span class="visible-xs"> <span class="text-muted">Navan Road</span><br/></span>
                            <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(+353) 087 935 0722"></span>
                            <span class="visible-xs"> <span class="text-muted">+353(87) 935-0722</span><br/></span>
                            <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="xade.26@hotmail.com"></span>
                            <span class="visible-xs"> <span class="text-muted">alexsantos2543@yahoo.com</span><br/></span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src=https://avatars0.githubusercontent.com/u/22411277?v=3&s=400" alt="Guilherme" class="img-responsive img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Guilherme Ferreira Mello</span><br/>
                            <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="Dublin - Ireland"></span>
                            <span class="visible-xs"> <span class="text-muted">Dublin-Ireland</span><br/></span>
                            <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(+353) 089 952 9280"></span>
                            <span class="visible-xs"> <span class="text-muted">(+353)089 952 9280</span><br/></span>
                            <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="guilhermefmello@hotmail.com"></span>
                            <span class="visible-xs"> <span class="text-muted">guilhermefmello@hotmail.com</span><br/></span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="#" alt="Declan" class="img-responsive img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Declan</span><br/>
                            <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="4949 W Dallas St"></span>
                            <span class="visible-xs"> <span class="text-muted">4949 W Dallas St</span><br/></span>
                            <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(477) 792-2822"></span>
                            <span class="visible-xs"> <span class="text-muted">(477) 792-2822</span><br/></span>
                            <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="jean.myers@example.com"></span>
                            <span class="visible-xs"> <span class="text-muted">jean.myers@example.com</span><br/></span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="#" alt="Brendan" class="img-responsive img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Brendan</span><br/>
                            <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5133 Pecan Acres Ln"></span>
                            <span class="visible-xs"> <span class="text-muted">5133 Pecan Acres Ln</span><br/></span>
                            <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(522) 991-3367"></span>
                            <span class="visible-xs"> <span class="text-muted">(522) 991-3367</span><br/></span>
                            <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="todd.shelton@example.com"></span>
                            <span class="visible-xs"> <span class="text-muted">todd.shelton@example.com</span><br/></span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    
                     
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
	</div>
    
    <div id="cant-do-all-the-work-for-you" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="mySmallModalLabel">Ooops!!!</h4>
                </div>
                <div class="modal-body">
                    <p>I am being lazy and do not want to program an "Add User" section into this snippet... So it looks like you'll have to do that for yourself.</p><br/>
                    <p><strong>Sorry<br/>
                    ~ Mouse0270</strong></p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JavaScrip Search Plugin -->
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
    
</div>
