  <!-- Jumbotron Header -->
        <header class="jumbotron center">
            <h1>A Warm Welcome!</h1>
            <p>Content infomation goes here!</p>
            <p><a class="btn btn-primary btn-large">Shop now</a>
            <li><%= link_to 'Shop now',products_path ,class:"btn btn-primary btn-large" %></li>
            </p>
        </header>

        <hr>
