  <!-- Jumbotron Header -->
        <header class="jumbotron center">
            <h1>A Warm Welcome!</h1>
            <p>Content infomation goes here!</p>	
            <li><%= link_to 'Shop now', products_path, class:"btn btn-primary btn-lg active"%></li>
        </header>

        <hr/>
