$navbar-default-bg: #E8F5E9;
@import "bootstrap-sprockets";
@import "bootstrap";



* {
  margin: 0;
  padding: 0;
}



.header_top{

background-color:#4CAF50;
}



#page_nav a, #sign_in a {
  line-height: 65px;
  color: black;
  padding: 0 20px 0 20px;
  text-decoration: none;
  
}



a:hover {
color:#FF5722;
}


#page_nav {
  margin: 0 0 0 5%;
  float: left;
   color: black;
}


#logo{
  
  float:left;
  font-size: 1.7em;
  color:#FF5722;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;


}

#logo:hover {
  
  color: #FF5722;
  text-decoration: none;

}

.center {
   text-align: center;
}

