$navbar-default-bg: #08088A;
@import "bootstrap-sprockets";
@import "bootstrap";


* {
  margin: 0;
  padding: 0;
}



#page_nav a, #sign_in a {
  line-height: 40px;
  color: #fff;
  padding: 0 20px 0 20px;
  text-decoration: none;
  
}

#page_nav {
  margin: 0 0 0 5%;
  float: left;
}



#logo{
  
  float:left;
  font-size: 1.7em;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;


}

#logo:hoover {
  
  color: #fff;
  text-decoration: none;

}

.center {
   text-align: center;
}

.jumbotron {
  
  background-color: green;
}
