<div class="header_top"><!--header_top-->
			<div class="container text_decoration_Top">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +353 1 342 4579</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> charityshop@yahoo.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.linkedin.com/in/alex-santos-8551295b/"><i class="fa fa-linkedin"></i></a></li>
								
								<li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/guilhermeferreiramello/"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://github.com/guilhermefmello/Charity_Shop"><i class=" fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
