
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
<% flash.each do |title,msg|%>
<div class='alert alert-<%="#{title}" %>'>
<a href="#" class="close" data-dismiss="alert">&#215;</a>
<%= content_tag :div, msg ,:id =>"flash_#{title}" if msg.is_a?(String)%>
</div>

<%end%>

</div>
</div>